<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ClientFiles" Directory="ClientFolder">
      <Component Id="cmp_ClientFiles_7DE434F5" Guid="fbdbce1a-c650-46b2-9308-085778dde581">
        <File Source="..\Client.GUI\publish\Client.Core.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_BA8E1808" Guid="8cb3f6b7-a970-46fa-9a15-5345375ac251">
        <File Source="..\Client.GUI\publish\Client.Core.pdb" />
      </Component>
      <Component Id="cmp_ClientFiles_47944BC6" Guid="06631fea-15c2-452d-9d9d-fc9a71490703">
        <File Source="..\Client.GUI\publish\Client.GUI.deps.json" />
      </Component>
      <Component Id="cmp_ClientFiles_093AFDE5" Guid="ede4c5c3-9177-4dae-841e-ece4bde3b03b">
        <File Source="..\Client.GUI\publish\Client.GUI.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_43158458" Guid="210781a6-2b81-4387-b821-89ab04aed050">
        <File Id="ClientFiles_MainExe" Source="..\Client.GUI\publish\Client.GUI.exe" KeyPath="yes" />
      </Component>
      <Component Id="cmp_ClientFiles_81BF34FB" Guid="6243e31c-09bf-4c74-b5dd-03df7531a0ef">
        <File Source="..\Client.GUI\publish\Client.GUI.pdb" />
      </Component>
      <Component Id="cmp_ClientFiles_7E5D6D6C" Guid="48ab8b0b-91d7-462b-ab83-b304bd90fc15">
        <File Source="..\Client.GUI\publish\Client.GUI.runtimeconfig.json" />
      </Component>
      <Component Id="cmp_ClientFiles_88EEB02E" Guid="581f0946-f41e-408e-ab96-27edb510c6b0">
        <File Source="..\Client.GUI\publish\Microsoft.Graphics.Imaging.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_ED6E3A0F" Guid="b4aa5169-781f-4339-9b7a-fabac459f46b">
        <File Source="..\Client.GUI\publish\Microsoft.InteractiveExperiences.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_BE16E7CD" Guid="32ca458e-5ec5-449f-94be-4c5d466a4d6e">
        <File Source="..\Client.GUI\publish\Microsoft.ML.OnnxRuntime.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_C65D4CCC" Guid="55321b2c-2c5c-48e8-96b5-5661f2986588">
        <File Source="..\Client.GUI\publish\Microsoft.Security.Authentication.OAuth.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_FB5C0421" Guid="d3a9528b-61fe-49cc-8415-5628f100497a">
        <File Source="..\Client.GUI\publish\Microsoft.Web.WebView2.Core.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_F3881F11" Guid="c0432d03-32e5-46f9-b749-1f05d3eaf02a">
        <File Source="..\Client.GUI\publish\Microsoft.Web.WebView2.Core.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_0C2B3AF6" Guid="5a3ae32a-ab03-4b89-a652-e5f5bc884c30">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.AI.ContentSafety.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_6F6D54BB" Guid="bdda4250-0515-44a2-a03d-6c70f3d0972c">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.AI.Foundation.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_035D89D0" Guid="cc5e0cc0-e711-4ad3-846d-0e4b801c7a40">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.AI.Imaging.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_C3FE6E50" Guid="1238f693-6f3d-4dc7-81f3-b0418b6ae659">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.AI.MachineLearning.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_E2FF1DCC" Guid="dc3ea5e8-e839-4594-a078-344eb04178c7">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.AI.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_478B5478" Guid="a060e3cb-2870-42fa-8e36-f78357660bcc">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.AI.Text.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_CE04DD44" Guid="3ec6a7c6-e186-4653-81e9-5e17d0fcbd11">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.ApplicationModel.Background.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_2089309E" Guid="e5c6cf37-4dcb-4d33-8feb-56af37e6cf07">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.ApplicationModel.Background.UniversalBGTask.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_0AE6E9CE" Guid="407a4f4c-36fa-4e39-a41e-6ba39b810061">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_AE8FE12E" Guid="9d4b90fc-461d-4faa-84a8-4eb97c39b439">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.ApplicationModel.Resources.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_AF74FB97" Guid="db997b29-3146-42f6-84cd-6795326c18c3">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_6D3EB95B" Guid="57aa0d9d-a6f5-4aee-90ce-616abbfea9ed">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.AppLifecycle.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_D6E7E45C" Guid="51179347-5017-48be-8c70-ac0f41c053eb">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.AppNotifications.Builder.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_DA1DAE26" Guid="6ad11477-b835-481f-aeb8-2bf0116cef2e">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.AppNotifications.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_088B1DE1" Guid="48dafde9-2940-4414-8ad4-7c189ccf0262">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.BadgeNotifications.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_96D8C125" Guid="e2d085e5-9b72-459c-8bef-8c39fa0ad638">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.Foundation.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_A25488E8" Guid="a0e10307-0e2c-4a99-8d64-5d116de95b0f">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.Management.Deployment.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_CBAD7B55" Guid="535ceed3-dd7e-4872-9f7d-9ff137d0e515">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.Media.Capture.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_96EC2A22" Guid="15400f4f-472d-40fb-af72-812b4316ee84">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.PushNotifications.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_562BD408" Guid="94daa364-5e46-487e-a93a-c760c1cb6846">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.SDK.NET.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_98A7232B" Guid="573bc9ff-269a-494d-86b9-60a884262680">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.Security.AccessControl.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_A195AC4A" Guid="b16dd352-147d-49d8-a1b3-a15086510795">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.Storage.Pickers.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_64952F19" Guid="f61acab8-439f-4615-9464-98e207505c58">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.Storage.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_B34AEE65" Guid="295013ca-2195-4f56-afc3-683a4ca1882c">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.System.Power.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_5EFB4300" Guid="e8f90353-529d-4385-b9c7-877b94e90d43">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.System.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_5AA6D46A" Guid="23a49305-480f-4fbf-a593-ecf9ea46dfea">
        <File Source="..\Client.GUI\publish\Microsoft.Windows.Widgets.Projection.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_A4DE4B3C" Guid="19bbfce3-30cc-471f-8b2b-7d7d654031c2">
        <File Source="..\Client.GUI\publish\Microsoft.WindowsAppRuntime.Bootstrap.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_7D66CAC5" Guid="dd2fa441-375a-4afc-a702-01b9fb3f33e4">
        <File Source="..\Client.GUI\publish\Microsoft.WindowsAppRuntime.Bootstrap.Net.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_84E49EBF" Guid="0262a763-f403-47b8-97c4-bf986a22003e">
        <File Source="..\Client.GUI\publish\Microsoft.WinUI.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_5774992C" Guid="a8498624-2ca9-4d24-819a-8d98307d1583">
        <File Source="..\Client.GUI\publish\Shared.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_4C34A7D9" Guid="654a7565-fb73-40a0-ae19-7cf85618cd63">
        <File Source="..\Client.GUI\publish\Shared.pdb" />
      </Component>
      <Component Id="cmp_ClientFiles_73A4B138" Guid="3c74a9d9-9cef-4d33-8488-a23b2c69f07e">
        <File Source="..\Client.GUI\publish\System.IO.Hashing.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_ACE9C82C" Guid="9ed3978d-7187-4103-95a7-c29bb5148d95">
        <File Source="..\Client.GUI\publish\System.Numerics.Tensors.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_40CCE2E6" Guid="b0fcbf76-830b-4498-a02e-b91efec7b577">
        <File Source="..\Client.GUI\publish\WebView2Loader.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_CCAE61C4" Guid="6f8fe2e0-bfde-484a-9316-14974c7e0ce2">
        <File Source="..\Client.GUI\publish\WinRT.Runtime.dll" />
      </Component>
      <Component Id="cmp_ClientFiles_StartMenuShortcut" Guid="486b01a5-57fa-4024-9dbf-ca50951fc969">
        <RegistryValue
          Root="HKCU"
          Key="Software\MUDDY\ClientFiles"
          Name="Installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
        <Shortcut
          Id="ClientFilesStartMenuShortcut"
          Directory="ProgramMenuFolder"
          Name="MUDDY Client"
          Target="[ClientFolder]Client.GUI.exe"
          WorkingDirectory="ClientFolder" />
        <RemoveFolder
          Id="RemoveMUDDYProgramMenuFolder_ClientFiles"
          Directory="ProgramMenuFolder"
          On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
