<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package
	  Name="MUDDY"
	  Manufacturer="Matthew Schatz"
	  Version="0.3.0"
	  UpgradeCode="{B47D6503-8714-43FE-AE66-058CD8DA0C56}"
	  InstallerVersion="500"
	  Compressed="yes">

		<!-- Allow upgrades -->
		<MajorUpgrade DowngradeErrorMessage="A newer version of MUDDY is already installed." />

		<MediaTemplate />

		<!-- Root feature -->
		<Feature Id="RootFeature" Title="MUDDY" Level="1">

			<!-- Client Feature. Provides option to install MUDDY Client. -->
			<Feature
			  Id="ClientFeature"
			  Title="Client"
			  Description="Install the MUDDY Client"
			  Level="1"
			  Display="expand">
				<ComponentGroupRef Id="ClientFiles" />
			</Feature>

			<!-- Server Feature. Provides option to install MUDDY Server. -->
			<Feature
			  Id="ServerFeature"
			  Title="Server"
			  Description="Install the MUDDY Server"
			  Level="1"
			  Display="expand">
				<ComponentGroupRef Id="ServerFiles" />
			</Feature>
		</Feature>
	</Package>
</Wix>