<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ServerFiles" Directory="ServerFolder">
      <Component Id="cmp_ServerFiles_EAAF6996" Guid="2d0a47fe-f9b5-4424-8fc0-4c2cb1588486">
        <File Source="..\Server.GUI\publish\CommunityToolkit.WinUI.UI.Controls.DataGrid.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_88EEB02E" Guid="bfa0dad5-535d-404d-90e1-18d5b7790534">
        <File Source="..\Server.GUI\publish\Microsoft.Graphics.Imaging.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_ED6E3A0F" Guid="19e26474-12c7-4d62-a04b-38c1dbaf7433">
        <File Source="..\Server.GUI\publish\Microsoft.InteractiveExperiences.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_BE16E7CD" Guid="6d6ec12b-4e89-46df-a4dc-1834ca3d3a50">
        <File Source="..\Server.GUI\publish\Microsoft.ML.OnnxRuntime.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_C65D4CCC" Guid="a7692520-36a8-480b-8654-754c93aa8ce7">
        <File Source="..\Server.GUI\publish\Microsoft.Security.Authentication.OAuth.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_FB5C0421" Guid="8e346dd4-a69d-43c5-b4d1-694944b807be">
        <File Source="..\Server.GUI\publish\Microsoft.Web.WebView2.Core.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_F3881F11" Guid="d5e5eae9-6e29-42df-b441-c7ba64b92d3a">
        <File Source="..\Server.GUI\publish\Microsoft.Web.WebView2.Core.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_0C2B3AF6" Guid="476a3fd2-6575-45c7-9f07-62ac328054b4">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.ContentSafety.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_6F6D54BB" Guid="f555b9c2-9102-410d-bbca-7250096e0346">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.Foundation.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_035D89D0" Guid="78440a32-6ac6-4cf7-85ef-c91d854511fc">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.Imaging.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_C3FE6E50" Guid="bba1e4b7-9dd3-4b19-8efa-14b04eff5141">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.MachineLearning.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_E2FF1DCC" Guid="0d29661b-233c-4636-a26e-d37735a77506">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_478B5478" Guid="56ceb219-453d-43c2-a500-94064fbbfb72">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.Text.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_CE04DD44" Guid="0e587cf4-e7fa-42d3-af84-43a9e4acb9bf">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.ApplicationModel.Background.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_2089309E" Guid="a90bbe8a-15d7-4a4c-a559-6367c9c42ac9">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.ApplicationModel.Background.UniversalBGTask.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_0AE6E9CE" Guid="453c4910-98c8-4cc3-a4d8-9ff79aa30c37">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_AE8FE12E" Guid="f95e67b3-c45b-4bd3-9fa1-2acc2ef24ee3">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.ApplicationModel.Resources.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_AF74FB97" Guid="9fae1f1b-fe61-43f8-a025-249641530ef2">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_6D3EB95B" Guid="33c04124-1ed8-40c8-9b25-d2ec93416284">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AppLifecycle.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_D6E7E45C" Guid="e6971020-fd9a-4800-be3d-7c3ac15b67b0">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AppNotifications.Builder.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_DA1DAE26" Guid="5cc39fbb-7797-4b20-b97d-856b077c7143">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AppNotifications.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_088B1DE1" Guid="eab67f02-a9e1-4dcf-bac0-bcb6b2554d05">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.BadgeNotifications.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_96D8C125" Guid="1bfe52cb-d184-4b29-a843-9e8c35bf89fd">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Foundation.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_A25488E8" Guid="087d28c6-e831-4fa7-a817-aa2a0e7a5725">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Management.Deployment.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_CBAD7B55" Guid="0c26a45e-ed6e-41dc-8ae7-665f88bb46d2">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Media.Capture.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_96EC2A22" Guid="d0f79ef1-53f7-4de9-9446-d554137287d7">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.PushNotifications.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_562BD408" Guid="5d06fc8e-63e1-4f21-bd7e-e301e89eb2e0">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.SDK.NET.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_98A7232B" Guid="baad5a5f-d57c-4dda-855a-a9cdf1e952ec">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Security.AccessControl.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_A195AC4A" Guid="9cec0388-ff05-4bca-89c5-baba6ea37b30">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Storage.Pickers.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_64952F19" Guid="d177db0d-62c1-4eb5-a003-5e9402d7d00c">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Storage.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_B34AEE65" Guid="79cbb794-1da5-45d2-8cd6-a49817fb9b2d">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.System.Power.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_5EFB4300" Guid="4f3317e2-28e2-4560-a408-bebe1146c7f1">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.System.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_5AA6D46A" Guid="4a54064d-3bcc-4fdc-9ff3-3403ad6cc6bd">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Widgets.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_A4DE4B3C" Guid="7af0c025-9838-4316-8eb5-33c45da76145">
        <File Source="..\Server.GUI\publish\Microsoft.WindowsAppRuntime.Bootstrap.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_7D66CAC5" Guid="3027648f-4dd4-4173-bb03-53e7af22b5d0">
        <File Source="..\Server.GUI\publish\Microsoft.WindowsAppRuntime.Bootstrap.Net.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_84E49EBF" Guid="d69d7616-f977-431b-ad48-6f63c7b81c8a">
        <File Source="..\Server.GUI\publish\Microsoft.WinUI.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_F822656D" Guid="7a57478c-cbcc-4329-9140-53ffd1576af2">
        <File Source="..\Server.GUI\publish\Server.Core.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_0299A369" Guid="30b51ccf-5f0c-4882-946c-0f0cdf2cb694">
        <File Source="..\Server.GUI\publish\Server.Core.pdb" />
      </Component>
      <Component Id="cmp_ServerFiles_5358E564" Guid="cd77578b-51a4-4296-90b6-6676ad8ffed4">
        <File Source="..\Server.GUI\publish\Server.GUI.deps.json" />
      </Component>
      <Component Id="cmp_ServerFiles_553EB852" Guid="65af4535-cac2-47fe-9378-8208d81d59c0">
        <File Source="..\Server.GUI\publish\Server.GUI.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_863EF331" Guid="ded12032-a846-4006-b485-6b2d047c4357">
        <File Id="ServerFiles_MainExe" Source="..\Server.GUI\publish\Server.GUI.exe" KeyPath="yes" />
      </Component>
      <Component Id="cmp_ServerFiles_C08995E3" Guid="88259f8f-c75e-4807-b2a6-97dbd01dc95b">
        <File Source="..\Server.GUI\publish\Server.GUI.pdb" />
      </Component>
      <Component Id="cmp_ServerFiles_3B2B41B4" Guid="21c86701-8a4b-4f7b-9850-e2539ff9486b">
        <File Source="..\Server.GUI\publish\Server.GUI.runtimeconfig.json" />
      </Component>
      <Component Id="cmp_ServerFiles_5774992C" Guid="e8dcc692-bb3e-4251-a9ec-4ea256756008">
        <File Source="..\Server.GUI\publish\Shared.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_4C34A7D9" Guid="82a94ac3-d714-447b-b5ca-f1dcfe159f7e">
        <File Source="..\Server.GUI\publish\Shared.pdb" />
      </Component>
      <Component Id="cmp_ServerFiles_73A4B138" Guid="49fef312-2465-492c-b072-5b4294a7bd9a">
        <File Source="..\Server.GUI\publish\System.IO.Hashing.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_ACE9C82C" Guid="1c4e93ce-a820-441e-8365-5723a09a0fad">
        <File Source="..\Server.GUI\publish\System.Numerics.Tensors.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_40CCE2E6" Guid="9f723af8-a09b-48c3-a0fd-05e138f636f8">
        <File Source="..\Server.GUI\publish\WebView2Loader.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_CCAE61C4" Guid="85080205-62ec-4369-bcf2-e0eb7628442a">
        <File Source="..\Server.GUI\publish\WinRT.Runtime.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_FF76B5CF" Guid="0e3735b9-4f30-4d2f-b13a-339a9679ae6b">
        <File Source="..\Server.GUI\publish\Images\copilot_cat.jpg" />
      </Component>
      <Component Id="cmp_ServerFiles_StartMenuShortcut" Guid="dc74727d-c99b-4741-bb27-499ca2bf31dd">
        <RegistryValue
          Root="HKCU"
          Key="Software\MUDDY\ServerFiles"
          Name="Installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
        <Shortcut
          Id="ServerFilesStartMenuShortcut"
          Directory="ProgramMenuFolder"
          Name="MUDDY Server"
          Target="[ServerFolder]Server.GUI.exe"
          WorkingDirectory="ServerFolder" />
        <RemoveFolder
          Id="RemoveMUDDYProgramMenuFolder_ServerFiles"
          Directory="ProgramMenuFolder"
          On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
