<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ServerFiles" Directory="INSTALLFOLDER">
      <Component Id="cmp_ServerFiles_EF15755D" Guid="d6493594-0530-4896-bebd-a5a8bca26343">
        <File Source="..\Server.GUI\publish\App.xbf" />
      </Component>
      <Component Id="cmp_ServerFiles_EAAF6996" Guid="be572824-6861-4051-bdd1-327313b09780">
        <File Source="..\Server.GUI\publish\CommunityToolkit.WinUI.UI.Controls.DataGrid.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_6B36C07E" Guid="4465c533-c4ff-4cd5-8359-037da9f6067d">
        <File Source="..\Server.GUI\publish\MainWindow.xbf" />
      </Component>
      <Component Id="cmp_ServerFiles_88EEB02E" Guid="4e85e8e0-169b-4120-a87e-301293a1563e">
        <File Source="..\Server.GUI\publish\Microsoft.Graphics.Imaging.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_ED6E3A0F" Guid="91d8b54c-2c7a-4a69-a73f-db0dd71cdbd3">
        <File Source="..\Server.GUI\publish\Microsoft.InteractiveExperiences.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_BE16E7CD" Guid="404d93b7-732d-4031-9bb1-2167d96e6cff">
        <File Source="..\Server.GUI\publish\Microsoft.ML.OnnxRuntime.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_C65D4CCC" Guid="848604a5-0c98-455c-b168-bbbb4a49e8af">
        <File Source="..\Server.GUI\publish\Microsoft.Security.Authentication.OAuth.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_FB5C0421" Guid="5e8c5def-48e5-43fe-8a8a-80b5bfe5c2ad">
        <File Source="..\Server.GUI\publish\Microsoft.Web.WebView2.Core.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_F3881F11" Guid="586bd429-c6f4-474e-8342-fbae5678152a">
        <File Source="..\Server.GUI\publish\Microsoft.Web.WebView2.Core.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_0C2B3AF6" Guid="8509ae9a-1c9f-497a-ad2a-5ff0ec644d82">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.ContentSafety.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_6F6D54BB" Guid="b59a5ce7-ea81-4644-bf2e-2582bb93e33b">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.Foundation.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_035D89D0" Guid="92dc062f-0ea5-48d6-8418-8a8409cc6f0d">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.Imaging.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_C3FE6E50" Guid="9eb55b83-b2b9-4fc5-81db-ec03465b83e1">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.MachineLearning.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_E2FF1DCC" Guid="68e0ea84-6dd5-4bbf-9774-9c727c86aefc">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_478B5478" Guid="9bb9b712-1fe0-4dc5-8ecc-791cef377e34">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AI.Text.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_CE04DD44" Guid="64c214b6-77e0-4cd8-b35b-16083786e8a3">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.ApplicationModel.Background.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_2089309E" Guid="8f57ab3f-c11c-4284-bdc8-914f2727e849">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.ApplicationModel.Background.UniversalBGTask.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_0AE6E9CE" Guid="6b82ea23-48df-44d4-b9f6-3d8e06234aac">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_AE8FE12E" Guid="d1f292e5-0f94-483d-8199-dc7ba813ea25">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.ApplicationModel.Resources.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_AF74FB97" Guid="95c877f0-553e-4f86-947d-2a3e3615b4f2">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_6D3EB95B" Guid="b0be68e0-ace7-4488-814d-3a1488ec7dac">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AppLifecycle.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_D6E7E45C" Guid="83f5ba20-c4a6-4618-a7d0-582374d6da5f">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AppNotifications.Builder.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_DA1DAE26" Guid="b777bbc7-cc9b-49b5-b4bc-b7302b9f7872">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.AppNotifications.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_088B1DE1" Guid="3f558144-7d3c-4656-b2ff-a8d76c244c47">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.BadgeNotifications.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_96D8C125" Guid="173594be-8570-44ee-b500-775938474224">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Foundation.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_A25488E8" Guid="0130712d-2b9c-4b15-9954-b8be8fb194f7">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Management.Deployment.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_CBAD7B55" Guid="2d0a8acc-d365-4e20-b283-a67fab4cbcd1">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Media.Capture.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_96EC2A22" Guid="6410cf10-e014-4ed7-85da-3f6e0b7db9fb">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.PushNotifications.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_562BD408" Guid="40aa93dd-0742-41dc-992c-56510bd26a99">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.SDK.NET.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_98A7232B" Guid="d3f00ff7-9482-4b5f-8013-790a649b0619">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Security.AccessControl.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_A195AC4A" Guid="47d5d3ed-dae2-4968-99ac-8fdb92bcc584">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Storage.Pickers.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_64952F19" Guid="1f1af9fe-8179-475f-86c4-2312e3744e5e">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Storage.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_B34AEE65" Guid="b69ca581-d828-449f-a2b6-f356579af977">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.System.Power.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_5EFB4300" Guid="ed5a75b8-8981-4ffe-958a-54b879afbc58">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.System.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_5AA6D46A" Guid="3e6b18b9-4657-4cbc-a9ee-ba6a094cb7ca">
        <File Source="..\Server.GUI\publish\Microsoft.Windows.Widgets.Projection.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_A4DE4B3C" Guid="5b9a4f77-8fbc-482b-b248-2a8f3b9c412c">
        <File Source="..\Server.GUI\publish\Microsoft.WindowsAppRuntime.Bootstrap.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_7D66CAC5" Guid="999a0eab-c863-4977-9967-ef3f8cbf8370">
        <File Source="..\Server.GUI\publish\Microsoft.WindowsAppRuntime.Bootstrap.Net.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_84E49EBF" Guid="0a0b728f-6f31-43db-bb2c-aa965becde88">
        <File Source="..\Server.GUI\publish\Microsoft.WinUI.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_F822656D" Guid="088bcfda-826d-44b7-a259-f665279ac04b">
        <File Source="..\Server.GUI\publish\Server.Core.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_0299A369" Guid="eda26b24-a86e-4a60-90d0-5e0cc1c6219e">
        <File Source="..\Server.GUI\publish\Server.Core.pdb" />
      </Component>
      <Component Id="cmp_ServerFiles_5358E564" Guid="a445ee4c-5fa2-4326-aacd-5ab2b06761e2">
        <File Source="..\Server.GUI\publish\Server.GUI.deps.json" />
      </Component>
      <Component Id="cmp_ServerFiles_553EB852" Guid="3842715e-6fe7-4b3d-916d-fd0c7ebbb0ba">
        <File Source="..\Server.GUI\publish\Server.GUI.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_863EF331" Guid="896500ae-5be9-4a2e-a464-c117d3caac0a">
        <File Id="ServerFiles_MainExe" Source="..\Server.GUI\publish\Server.GUI.exe" KeyPath="yes" />
      </Component>
      <Component Id="cmp_ServerFiles_C08995E3" Guid="36682554-ef8b-4cb0-854b-8131948ff8b4">
        <File Source="..\Server.GUI\publish\Server.GUI.pdb" />
      </Component>
      <Component Id="cmp_ServerFiles_A4611C1C" Guid="44655bba-2ec7-455f-8a2b-b9f4a4c92116">
        <File Source="..\Server.GUI\publish\Server.GUI.pri" />
      </Component>
      <Component Id="cmp_ServerFiles_3B2B41B4" Guid="32835938-c135-4424-a08d-b833166baf00">
        <File Source="..\Server.GUI\publish\Server.GUI.runtimeconfig.json" />
      </Component>
      <Component Id="cmp_ServerFiles_5774992C" Guid="fb55f727-e53c-4e1d-9608-88d3e8058eed">
        <File Source="..\Server.GUI\publish\Shared.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_4C34A7D9" Guid="89b48a1c-bc09-4fd2-814d-706910fd7a8e">
        <File Source="..\Server.GUI\publish\Shared.pdb" />
      </Component>
      <Component Id="cmp_ServerFiles_73A4B138" Guid="a999562b-5f1f-4ad9-9907-d1fa5ab8457a">
        <File Source="..\Server.GUI\publish\System.IO.Hashing.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_ACE9C82C" Guid="833c9a64-2a31-4d25-984a-0375cf47263b">
        <File Source="..\Server.GUI\publish\System.Numerics.Tensors.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_40CCE2E6" Guid="ec5efb43-5f8f-4437-bf30-a2c7f0b4568b">
        <File Source="..\Server.GUI\publish\WebView2Loader.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_CCAE61C4" Guid="7fd4dbed-26c2-44fc-b20c-c98785f4f2c5">
        <File Source="..\Server.GUI\publish\WinRT.Runtime.dll" />
      </Component>
      <Component Id="cmp_ServerFiles_FF76B5CF" Guid="5010d3e4-70f9-4a9f-93f4-43a6ac0d472a" Subdirectory="Images">
        <File Source="..\Server.GUI\publish\Images\copilot_cat.jpg" />
      </Component>
      <Component Id="cmp_ServerFiles_StartMenuShortcut" Guid="55d80453-25a8-464a-808d-c7292d515f17">
        <RegistryValue
          Root="HKCU"
          Key="Software\MUDDY\ServerFiles"
          Name="Installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
        <Shortcut
          Id="ServerFilesStartMenuShortcut"
          Directory="ProgramMenuFolder"
          Name="MUDDY Server"
          Target="[INSTALLFOLDER]Server.GUI.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="ServerIcon" />
        <RemoveFolder
          Id="RemoveMUDDYProgramMenuFolder_ServerFiles"
          Directory="ProgramMenuFolder"
          On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
