<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

	<Bundle
	  Name="MUDDY Prerequisites"
	  Version="0.1.0"
	  Manufacturer="Matthew Schatz"
	  UpgradeCode="478D4A1F-2B9B-4865-B0A4-EE7631D4D672">

		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication
			  LicenseUrl="license.rtf"
			  Theme="rtfLicense" />
		</BootstrapperApplication>

		<Chain>

			<!-- Windows App Runtime -->
			<ExePackage
			  Id="WindowsAppRuntime"
			  SourceFile="WindowsAppRuntimeInstall-x64.exe"
			  InstallArguments="/install /quiet /norestart"
			  UninstallArguments="/uninstall /quiet /norestart"
			  DetectCondition="WINDOWSAPPRUNTIMEINSTALLED"
			  PerMachine="yes"
			  Vital="yes" />

			<!-- Main MSI -->
			<MsiPackage
			  SourceFile="..\MUDDY.Installer\bin\x64\Release\en-US\MUDDY.Installer.msi"
			  Vital="yes" />

		</Chain>

	</Bundle>
</Wix>